html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Roboto");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: "Roboto";
}

body {
  background-color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

.cursive {
  font-style: italic;
  font-size: 22px;
  color: gray;
}

.footer-links {
  text-decoration: none;
  color: white;
}

.footer-links:hover {
  color: rgb(219, 219, 219);
}

.sec-head {
  font-size: 3rem;
}

.bg-white-a {
  background-color: rgba(255, 255, 255, 0.8);
}

.form-control {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(0, 0, 0, 0.3);
}

.form-control:focus {
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  box-shadow: none;
}

.form-control:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.thumb-post {
  overflow: hidden;
}
.thumb-post img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 210px;
}
.thumb-img:hover {
  border-style: solid;
  border-color: rgba(67, 64, 64, 0.4);
}
.round-edge {
  border-radius: 2%;
}
.carousel-caption {
  font-size: 30px;
  padding-bottom: 5rem !important;
}

.img-gradient {
  height: 75vh;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  .carousel-caption {
    font-size: 25px;
    padding-bottom: 0rem !important;
  }
  .img-gradient {
    height: 40vh;
  }
  .thumb-post img {
    height: 150px;
  }
}

.pw-head {
  text-shadow: 2px 2px #2c2b2b;
  font-size: calc(1.625rem + 4.5vw);
  line-height: 1.2;
  padding-bottom: 3rem;
}

#img-carousel-1 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("/assets/img/mainshowcase.jpg");
}
#img-carousel-2 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("/assets/img/office.jpg");
}
#img-carousel-3 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("/assets/img/furnished.jpg");
}
.bg-grade {
  min-height: 40rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("/assets/img/back.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.slider-number-active {
  background-color: rgb(109, 51, 109);
  font-size: 30px;
  height: 50px;
  width: 50px !important;
  color: white;
  border-radius: 50% !important;
}

.slider-number {
  background-color: rgb(234, 234, 234);
  font-size: 30px;
  height: 50px;
  width: 50px !important;
  color: black;
  border-radius: 50% !important;
}

.slider-button {
  padding: 1rem;
}

.value-prop-image {
  width: 25%;
  height: 100%;
}

.rem-1 {
  color: gray;
}

@media screen and (max-width: 991px) {
  .value-prop-image {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .slider-button {
    padding: 0.5rem;
  }
  .value-prop-image {
    width: 100%;
  }
  .rem-1 {
    font-size: 1rem;
  }
  .rem-2 {
    font-size: 2rem;
  }
  .pw-head {
    font-size: calc(1.425rem + 2.1vw);
    padding-bottom: 1rem;
  }
  .masthead-content {
    font-size: medium;
  }
}

@media screen and (max-width: 576px) {
  .value-prop-text {
    font-size: smaller;
  }
}

.illustration-img-img {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
}

.fa-angle-right,
.fa-angle-left {
  color: black;
}

.testimonial-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.testimonial .card {
  border: none;
}

.toggleIn {
  animation: fadein 2500ms;
  opacity: 1;
}

.toggleOut {
  animation: fadeout 2500ms;
  opacity: 1;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.faq-question {
  text-decoration: none;
  color: black;
}

.faq-question:hover {
  color: rgb(26, 26, 26);
}

.faq-card h3 {
  font-weight: 500;
}

.loader {
  min-height: 100vh;
  position: relative;
  display: table;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-color: whitesmoke;
}

.service-text {
  color: gray;
}

.feedback {
  font-size: large;
  width: 450px;
  margin: auto;
}

.testimonial {
  height: 250px;
}

.promo {
  height: 120px;
}

@media screen and (max-width: 600px) {
  .promo-type {
    font-size: medium;
  }
}

@media screen and (max-width: 576px) {
  .testimonial {
    height: 250px;
  }
  .feedback {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .testimonial {
    height: 350px;
  }
  .feedback {
    width: 100%;
  }
}
